
.wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 40%;
}

