/* reset */
button {
  padding: 0;
  margin: 0;
  background: transparent;
}

.selectRoot {
  padding: 0;
  margin: 0;
  position: relative; // 드롭박스 위치 설정용
}

// 눈에 보이는 부분 div
.selectTrigger {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid rgba(115, 115, 122, 0.15);
  //border : 1px solid #b2b2b2;
  padding: 5px 13px 5px 13px;
  font-size: 13px;
  line-height: 1;
  gap: 4px; // 드롭다운 버튼과 글자 사이 간격
}

// place holder글씨
.selectTrigger[data-placeholder] {
  color: #b2b2b2;
}

// 드롭다운 버튼
.selectIcon {
  color: black;
}

// 스크롤 다운, 내용 등 드롭다운 해야 보이는 부분 전체를 감싸는 wrapper
.selectContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: fit-content;
  border-radius: 8px; // 테두리 둥글게
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
  0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  max-height: 200px; // 최대 높이
  padding: 5px 13px 5px 13px;
  background: #FFFFFF;
}

// 드롭다운 메뉴에서 스크롤 버튼 빼고
.selectViewport {
  padding: 10px 0px 10px 0px;
}

// sELECTiTEMtEXT를 감싸는 wrapper
.selectItem {
  padding: 5px 5px 5px 5px;
}

.selectItem:hover {
  background-color: rgba(243, 243, 243, 0.5);
  outline: none;
}

// 각 선택 옵션
.selectItemText {
  color: #000000;
  display: flex;
  //padding: 3px 5px 5px 3px;
  position: relative;
  user-select: none;
  font-size: 14px;
}

// disable 일 때
.selectItemText[data-disabled] {
  color: gray;
  pointer-events: none;
}

// hover 되었을 때
.selectItemText:hover {
  font-weight: 600;
}

/* 스크롤 버튼 */
.selectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: #000000;
  cursor: pointer;
}
