.inputBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid rgba(115, 115, 122, 0.15);
  padding: 5px 15px 5px 8px;
  gap: 7px;
}

.searchIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  width: 18px;
  height: 18px;
  color: rgba(1, 1, 197, 0.15);
}

.inputBox {
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  line-height: 1.1;
  font-size: 14px;

  &::placeholder {
    //color: map-get($description, color);
  }

  &.large {
    font-size: 18px;
  }
}

