// RatingBox.module.scss - 스타일 수정
.fullContainer{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 90%;
  padding: 40px 0 50px 80px;
  margin-bottom: 20px;
  box-sizing: border-box;
}


.reviewerInfo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.reviewerContainer{
  display: flex;
  flex-direction: column;
  gap:5px;
}
.reviewer{
  font-size: 25px;
  font-weight: 500;
}

.reviewDate {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  margin-right: 10px;
  color: #757575;
}

.ratingResultContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 20px;
  gap: 30px;
}

.leftRatingContainer, .rightRatingContainer{
  display: flex;
  gap: 30px;

}

.ratingItem{
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ratingLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.ratingValue {
  margin-left: 10px;
  font-size: 17px;
  color: #757575;
  font-weight: bold;
}