.fullContainer{
  box-shadow: 5px 5px 5px 5px rgba(110, 110, 110, 0.1);
  border-radius: 20px;
  width: 80%;
  height: 50%;
  padding: 20px;
}
.reviewer{
  font-size: 20px;
}
.ratingResultContainer{
  display: flex;
  margin-top: 15px;
  font-size: 20px;
}
.leftRatingContainer{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.rightRatingContainer{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.ratingItem{
  display: flex;
  align-items: center;
  gap: 5px;
}