.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  color: #334155;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.iconButton:hover {
  background-color: #e2e8f0;
  color: #1e40af;
}
