.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid lightgray;
  height: 80px;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  background-color: white;
  transition: background-color 0.3s ease;
}

/* 메인 페이지에서만 적용될 투명 헤더 스타일 */
.transparentHeader {
  background-color: transparent;
  border-bottom: none;
}

.menuContainer{
  display: flex;
};

.menuItem {
  list-style-type: none;
}

.aItem{
  color: black;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
  // 배경 투명으로 설정후, 밀려나는거 방지
  padding: 10px 15px;
  border-radius: 30px;
  background: transparent;
}
.aItem:hover{
  color: black;
  background: #e3e3e3;
  border-radius: 30px;
  padding: 10px 15px;
}
.activeLink{
  color: white;
  border-radius: 30px;
  background: black;
  padding: 10px 15px;
  position: relative;
}

.rightContainer{
  padding-left: 130px;
  width: 300px;
  display: flex;
}
.profileContainer{
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.buttonContainer{
  display: flex;
  align-items: center;
}

.dotContainer{
  position: absolute;
  top: 18px;
  margin-right: 10px;
  z-index: 1000;
}

.logoContainer img{
  width: 300px;
}